.container {
  width: 50%;
  padding: 0.2em;
}

.container.grid {
  width: 25%;
}

.container.list {
  width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
  margin-bottom: 1rem;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 90%;
}

.metadata {
  width: 90%;
  margin: 0.3em 0.2em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.9rem;
}

.title {
  font-weight: bolder;
}

.channel {
  font-size: 0.9rem;
}

@media  (max-width: 1024px) {
  .container.grid {
    width: 50%;
  }

  .thumbnail {
    width: 60%;
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .container.grid {
    width: 90%;
  }
  .video {
    flex-direction: row;
  }
}


