:root {
  /* color */
  --color-black: #0E0D0D;
  --color-white: #ffffff;
  --color-grey-black: #393635;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border-radius: 4px;
  --size-thumbnail: 50px;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 12px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.header {
  display: flex;
  height: 5rem;
  background-color: var(--color-black);  
  align-items: center;
  color: var(--color-white);
  padding: calc(var(--base-space) * 2);
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  font-size: 27px;
  padding: var(--base-space);
}

.input {
  flex-basis: 100%;
  margin-left: var(--base-space);
  padding: var(--base-space);
  font-size: 1.2rem;
  outline: 0;
  border-radius: var(--size-border-radius);
}

.button {
  width: 39px;
  height: 39px;
  margin-left: -2px;
  background-color: var(--color-grey-black);
  border-radius: var(--size-border-radius);
}

.buttonImg {
  width: 80%;
}

