:root {
  /* color */
  --color-black: #0E0D0D;
  --color-white: #ffffff;
  --color-grey-black: #393635;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border-radius: 4px;
  --size-thumbnail: 50px;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 12px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
#root {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--color-black);  
  align-items: center;
  color: var(--color-white);
  padding: calc(var(--base-space) * 2);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
}

.logo-title {
  font-size: 27px;
  padding: var(--base-space);
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 40px;
  margin-left: var(--base-space);
  padding: var(--base-space);
  font-size: var(--font-size-medium);
  border-radius: var(--size-border-radius);
}

.search-btn {
  width: 39px;
  height: 39px;
  margin-left: -2px;
  background-color: var(--color-grey-black);
  border-radius: var(--size-border-radius);
}

.search-btn img {
  width: 80%;
}

